<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <meta charset="UTF-8">
        <title>Personal Movie Recommendations</title>
    </head>
    <!--Navigation bar-->
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <div class="navbar-header">
                      <a class="navbar-brand" href="#">Movie Recommendations</a>
            </div>
        </div>
    </nav>

    <body>
    <!--Render Movie list as card columns here -->
    Movies to be shown here!
    </body>

</html>